<div class="main-wrap">
  <div class="main">
    <!-- left start -->
    <div class="main-left">
      <!-- nhac theo the loai -->
      <div class="music-type">
        <div class="title">
          <div class="types">
            <ng-container *ngFor="let music of musicCategory; let idx = index">
              <a [ngClass]="{'current': currentCategoryIdx === idx}" (click)="currentCategoryIdx = idx"
                 href="javascript:">{{music}}</a>
              <span [hidden]="idx === musicCategory.length - 1" class="bar">|</span>
            </ng-container>
          </div>
          <a href="" class="more" title="Xem thêm các thể loại nhạc">Thêm &nbsp;&gt;</a>
        </div>
        <div class="content">
          <!-- list nhac ben trai -->
          <div class="bar"></div>
          <div class="listA">
            <hp-song-highlight-item></hp-song-highlight-item>
          </div>

          <!-- list nhac ben phai -->
          <div class="listB">
            <hp-song-highlight-item></hp-song-highlight-item>
          </div>
        </div>
      </div>
      <div class="song-box">
        <div class="tit">
          <div class="left">
            <a href="#" class="curr tab-link" data-tab="tab-1">Bài hát mới</a>
            <!--<span class="bar">|</span>-->
            <!--<a href="#" class="tag tab-link " data-tab="tab-2">Album</a>-->
          </div>
          <a href="#" target="_blank" class="more">Thêm &nbsp;&gt;</a>
        </div>
        <div class="body">
          <div class="song-list ct tab-content current" id="tab-1">
            <div class="item" *ngFor="let song of newSongs">
              <a href="{{song.songId}}" class="img">
                <img src="{{song.userAvt}}" alt="avatar"></a>
              <p class="bar"><span class="fa fa-headphones">&nbsp;</span>0</p>
              <p class="name" title="{{song.songName}}">
                <a href="{{song.songId}}">{{song.songName}}</a></p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- left end -->
    <!-- right start -->
    <div class="main-right">
      <div class="rank">
        <div class="title">
          <h2>BẢNG XẾP HẠNG</h2>
        </div>
        <ul class="bxh">
          <li *ngFor="let song of musicRanks; let idx = index">
            <a href="{{song.songId}}" class="song" title="{{song.songName}}">
              <span>{{idx + 1}}.</span> {{song.songName}}</a>
            <a href="{{song.userAvt}}" class="singer">{{song.username}}</a>
          </li>
        </ul>
      </div>
    </div>
    <!-- right end -->
    <div class="clear"></div>
    <!-- top singer start -->
    <div class="top-singer">
      <div class="title">
        <p>Top User <a href="" class="more">Thêm&nbsp;&gt; </a></p>

      </div>
      <div class="body">
        <div class="best-user">

          <h3><span class="fa fa-trophy"></span>&nbsp;1st</h3>
          <a href="/User/User/4" class="avt"><img src="assets\user\ginny2\avt\avatar.png" alt="top"></a>
          <p class="info">
            <a href="/User/User/4">lam</a>

          </p>
        </div>
        <div class="list-top">
          <div class="item" *ngFor="let user of topSingers; let idx = index" (mouseenter)="currentUsserIdx = idx"
          (mouseleave)="currentUsserIdx = -1">
            <div class="picture">
              <a href="#"><img src="{{user.userAvt}}" alt=""></a>
            </div>
            <p class="name">
              <a href="#">{{user.username}}</a>
            </p>
            <div class="hover" *ngIf="currentUsserIdx == idx">
              <div class="hover-tit">
                <a href="" class="head-pic">
                  <img src="{{user.userAvt}}" alt="ád">
                </a>
                <p class="singer-name">
                  <a href="">{{user.username}}</a>
                </p>
                <p>
                  Giới tính : {{user.gender}}
                </p>
                <p class="age ell">
                  Ngày sinh: {{user.birthday}}
                </p>
                <p>
                  Nơi ở: {{user.address}}
                </p>
                <p>
                  Nghề nghiệp: {{user.career}}
                </p>
              </div>
              <div class="hover-ct">
                <p>Top songs</p>
                <ul>
                  <li *ngFor="let song of user.songs">
                    <a href="">{{song.songName}}</a>
                    <a href="" class="playbtn"><span class="fa fa-headphones"></span></a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- top singer end -->
  </div>
</div>
