<div class="main-wrap">
  <div class="main">
    <!-- left start -->
    <div class="main-left">
      <!-- nhac theo the loai -->
      <div class="music-type">
        <div class="title">
          <div class="types">
            <ng-container *ngFor="let music of musicCategory; let idx = index">
              <a [ngClass]="{'current': currentCategoryIdx === idx}" (click)="currentCategoryIdx = idx"
                 href="javascript:">{{music}}</a>
              <span [hidden]="idx === musicCategory.length - 1" class="bar">|</span>
            </ng-container>
          </div>
          <a href="" class="more" title="Xem thêm các thể loại nhạc">Thêm &nbsp;&gt;</a>
        </div>
        <div class="content">
            <!-- list nhac ben trai -->
            <div class="bar"></div>
            <div class="listA">
              <hp-song-highlight-item></hp-song-highlight-item>
            </div>

            <!-- list nhac ben phai -->
            <div class="listB">
              <hp-song-highlight-item></hp-song-highlight-item>
            </div>
        </div>
      </div>
      <div class="song-box">
        <div class="tit">
          <div class="left">
            <a href="#" class="tag curr tab-link" data-tab="tab-1">Bài hát mới</a>
            <span class="bar">|</span>
            <!--<a href="#" class="tag tab-link " data-tab="tab-2">Album</a>-->
          </div>
          <a href="#" target="_blank" class="more">Thêm &nbsp;&gt;</a>
        </div>
        <div class="body">

          <div class="song-list ct tab-content current" id="tab-1">
            <div class="item">
              <a href="/User/User/4" class="img">


                <img src="assets\user\ginny2\avt\avatar.png" alt="avatar"></a>
              <p class="bar"><span class="fa fa-headphones">&nbsp;</span>0</p>
              <p class="name" title="Cơn mưa ngang qua"><a href="/Play/Play/0B30Wl0EkX-0CbWlwVzBOZGVoZWc">Cơn mưa ngang
                qua</a></p>
            </div>
            <div class="item">
              <a href="/User/User/4" class="img">
                <img src="assets\user\ginny2\avt\avatar.png" alt="avatar"></a>
              <p class="bar"><span class="fa fa-headphones">&nbsp;</span>1</p>
              <p class="name" title="Lý cây bông - Rap version"><a href="/Play/Play/0B30Wl0EkX-0CRGRENVNoaEpCYkE">Lý cây
                bông - Rap version</a></p>
            </div>
            <div class="item">
              <a href="/User/User/4" class="img">


                <img src="assets\user\ginny2\avt\avatar.png" alt="avatar"></a>
              <p class="bar"><span class="fa fa-headphones">&nbsp;</span>0</p>
              <p class="name" title="I'm yours"><a href="/Play/Play/0B30Wl0EkX-0CVTllZ0hfWHg5RHM">I'm yours</a></p>
            </div>
            <div class="item">
              <a href="/User/User/4" class="img">


                <img src="assets\user\ginny2\avt\avatar.png" alt="avatar"></a>
              <p class="bar"><span class="fa fa-headphones">&nbsp;</span>0</p>
              <p class="name" title="I do"><a href="/Play/Play/0B30Wl0EkX-0CeEVneWVJSEp0ZUk">I do</a></p>
            </div>
            <div class="item">
              <a href="/User/User/4" class="img">


                <img src="assets\user\ginny2\avt\avatar.png" alt="avatar"></a>
              <p class="bar"><span class="fa fa-headphones">&nbsp;</span>1</p>
              <p class="name" title="Chỉ riêng mình ta"><a href="/Play/Play/0B30Wl0EkX-0CMEhKZ25PeGRiTm8">Chỉ riêng mình
                ta</a></p>
            </div>
            <div class="item">
              <a href="/User/User/4" class="img">


                <img src="assets\user\ginny2\avt\avatar.png" alt="avatar"></a>
              <p class="bar"><span class="fa fa-headphones">&nbsp;</span>0</p>
              <p class="name" title="999 rose of love"><a href="/Play/Play/0B30Wl0EkX-0CbUI1bjB3TnF6WTQ">999 rose of
                love</a></p>
            </div>
            <div class="item">
              <a href="/User/User/4" class="img">


                <img src="assets\user\ginny2\avt\avatar.png" alt="avatar"></a>
              <p class="bar"><span class="fa fa-headphones">&nbsp;</span>0</p>
              <p class="name" title="Anh yêu đơn phương em đấy"><a href="/Play/Play/0B30Wl0EkX-0CUmxwdGcwSDRPUGc">Anh
                yêu đơn phương em đấy</a></p>
            </div>
            <div class="item">
              <a href="/User/User/4" class="img">


                <img src="assets\user\ginny2\avt\avatar.png" alt="avatar"></a>
              <p class="bar"><span class="fa fa-headphones">&nbsp;</span>4</p>
              <p class="name" title="Lemon Tree"><a href="/Play/Play/0B30Wl0EkX-0CM1M4dGZsU1M3N0E">Lemon Tree</a></p>
            </div>
            <div class="item">
              <a href="/User/User/5" class="img">


                <img src="assets\user\ginny\avt\avatar.jpeg" alt="avatar"></a>
              <p class="bar"><span class="fa fa-headphones">&nbsp;</span>4</p>
              <p class="name" title="Pressure"><a href="/Play/Play/0B30Wl0EkX-0CR0h5cEJVcTc0NEk">Pressure</a></p>
            </div>
            <div class="item">
              <a href="/User/User/5" class="img">
                <img src="assets\user\ginny\avt\avatar.jpeg" alt="avatar"></a>
              <p class="bar"><span class="fa fa-headphones">&nbsp;</span>149</p>
              <p class="name" title="Ánh trăng bên hồ sen"><a href="/Play/Play/0B30Wl0EkX-0CeGtMNGtQWmdrOXM">Ánh trăng
                bên hồ sen</a></p>
            </div>
          </div>
          <!---->
          <div class="album ct tab-content" id="tab-2">
            <div class="item">
              <a href="#" class="img"><img src="assets\user\ginny3\avt\avatar.jpeg" alt="img"></a>
              <p class="bar">Ten albumTen albumTen albumTen albumTen albumTen albumTen albumTen albumTen albumTen
                album</p>
              <p class="singer"><a href="">abcxyzabcxyzabcxyzabcxyzabcxyzabcxyzabcxyzabcxyzabcxyz</a></p>
            </div>
            <div class="item">
              <a href="#" class="img"><img src="assets\user\ginny3\avt\avatar.jpeg" alt="img"></a>
              <p class="bar">Ten album</p>
              <p class="singer"><a href="">abcxyz</a></p>
            </div>
            <div class="item">
              <a href="#" class="img"><img src="assets\user\ginny3\avt\avatar.jpeg" alt="img"></a>
              <p class="bar">Ten album</p>
              <p class="singer"><a href="">abcxyz</a></p>
            </div>
            <div class="item">
              <a href="#" class="img"><img src="assets\user\ginny3\avt\avatar.jpeg" alt="img"></a>
              <p class="bar">Ten album</p>
              <p class="singer"><a href="">abcxyz</a></p>
            </div>
            <div class="item">
              <a href="#" class="img"><img src="assets\user\ginny3\avt\avatar.jpeg" alt="img"></a>
              <p class="bar">Ten album</p>
              <p class="singer"><a href="">abcxyz</a></p>
            </div>
            <div class="item">
              <a href="#" class="img"><img src="assets\user\ginny3\avt\avatar.jpeg" alt="img"></a>
              <p class="bar">Ten album</p>
              <p class="singer"><a href="">abcxyz</a></p>
            </div>
            <div class="item">
              <a href="#" class="img"><img src="assets\user\ginny3\avt\avatar.jpeg" alt="img"></a>
              <p class="bar">Ten album</p>
              <p class="singer"><a href="">abcxyz</a></p>
            </div>
            <div class="item">
              <a href="#" class="img"><img src="assets\user\ginny3\avt\avatar.jpeg" alt="img"></a>
              <p class="bar">Ten album</p>
              <p class="singer"><a href="">abcxyz</a></p>
            </div>
            <div class="item">
              <a href="#" class="img"><img src="assets\user\ginny3\avt\avatar.jpeg" alt="img"></a>
              <p class="bar">Ten album</p>
              <p class="singer"><a href="">abcxyz</a></p>
            </div>
            <div class="item">
              <a href="#" class="img"><img src="assets\user\ginny3\avt\avatar.jpeg" alt="img"></a>
              <p class="bar">Ten album</p>
              <p class="singer"><a href="">abcxyz</a></p>
            </div>
            <div class="item">
              <a href="#" class="img"><img src="assets\user\ginny3\avt\avatar.jpeg" alt="img"></a>
              <p class="bar">Ten album</p>
              <p class="singer"><a href="">abcxyz</a></p>
            </div>
            <div class="item">
              <a href="#" class="img"><img src="assets\user\ginny3\avt\avatar.jpeg" alt="img"></a>
              <p class="bar">Ten album</p>
              <p class="singer"><a href="">abcxyz</a></p>
            </div>
          </div>
        </div>
      </div>
      <script>
        $(document).ready(function () {
          $('.tab-link').click(function () {
            var tab_id = $(this).attr('data-tab');

            $('.tag').removeClass('curr');
            $('.tab-content').removeClass('current');

            $(this).addClass('curr');
            $("#" + tab_id).addClass('current');
          })
        })
      </script>
    </div>
    <!-- left end -->
    <!-- right start -->
    <div class="main-right">
      <div class="rank">
        <div class="title">
          <h2>BẢNG XẾP HẠNG</h2>
        </div>
        <ul class="bxh">
          <li>
            <a href="/Play/Play/0B30Wl0EkX-0CNzlXTzM2Zk9BS2M" class="song" title="Khi người mình yêu khóc">
              <span>1.</span> Khi người mình yêu khóc</a>
            <a href="/User/User/5" class="singer">tieuphung</a>
          </li>
          <li>
            <a href="/Play/Play/0B30Wl0EkX-0CYjJJVnBLRlNDTWM" class="song" title="Năm Tháng Vội Vã"> <span>2.</span> Năm
              Tháng Vội Vã</a>
            <a href="/User/User/5" class="singer">tieuphung</a>
          </li>
          <li>
            <a href="/Play/Play/0B30Wl0EkX-0CTFhweVVyTWNGaGc" class="song" title="Lạc trôi"> <span>3.</span> Lạc
              trôi</a>
            <a href="/User/User/2" class="singer">minh</a>
          </li>
          <li>
            <a href="/Play/Play/0B30Wl0EkX-0CeGtMNGtQWmdrOXM" class="song" title="Ánh trăng bên hồ sen"> <span>4.</span>
              Ánh trăng bên hồ sen</a>
            <a href="/User/User/5" class="singer">tieuphung</a>
          </li>
          <li>
            <a href="/Play/Play/0B30Wl0EkX-0CVmlJRFYzazlnOW8" class="song" title="Trong gió có đám mây mưa">
              <span>5.</span> Trong gió có đám mây mưa</a>
            <a href="/User/User/5" class="singer">tieuphung</a>
          </li>
          <li>
            <a href="/Play/Play/0B30Wl0EkX-0CQV9DRThQbDhqX00" class="song" title="A little love"> <span>6.</span> A
              little love</a>
            <a href="/User/User/5" class="singer">tieuphung</a>
          </li>
          <li>
            <a href="/Play/Play/0B30Wl0EkX-0CcWlYRmRncXNQSUk" class="song" title="Aloha"> <span>7.</span> Aloha</a>
            <a href="/User/User/2" class="singer">minh</a>
          </li>
          <li>
            <a href="/Play/Play/0B30Wl0EkX-0CZzNRQTFKSmlNTnM" class="song" title="Yêu em từ cái nhìn đầu tiên">
              <span>8.</span> Yêu em từ cái nhìn đầu tiên</a>
            <a href="/User/User/5" class="singer">tieuphung</a>
          </li>
          <li>
            <a href="/Play/Play/0B30Wl0EkX-0CWG95TERZWnhIMjA" class="song" title="Phép màu ngày sinh nhật">
              <span>9.</span> Phép màu ngày sinh nhật</a>
            <a href="/User/User/2" class="singer">minh</a>
          </li>
          <li>
            <a href="/Play/Play/0B30Wl0EkX-0CR3FEcEcxZ1hYVGc" class="song" title="Speak now"> <span>10.</span> Speak now</a>
            <a href="/User/User/5" class="singer">tieuphung</a>
          </li>
          <li>
            <a href="/Play/Play/0B30Wl0EkX-0CNEpGM1lnUW5iZ2c" class="song" title="Love is"> <span>11.</span> Love is</a>
            <a href="/User/User/5" class="singer">tieuphung</a>
          </li>
          <li>
            <a href="/Play/Play/0B30Wl0EkX-0CM1M4dGZsU1M3N0E" class="song" title="Lemon Tree"> <span>12.</span> Lemon
              Tree</a>
            <a href="/User/User/4" class="singer">lam</a>
          </li>
          <li>
            <a href="/Play/Play/0B30Wl0EkX-0CR0h5cEJVcTc0NEk" class="song" title="Pressure"> <span>13.</span>
              Pressure</a>
            <a href="/User/User/5" class="singer">tieuphung</a>
          </li>
          <li>
            <a href="/Play/Play/0B30Wl0EkX-0CVHF1akMzTEViT28" class="song" title="Take me to your heart">
              <span>14.</span> Take me to your heart</a>
            <a href="/User/User/5" class="singer">tieuphung</a>
          </li>
          <li>
            <a href="/Play/Play/0B30Wl0EkX-0CQUFnZlcyVHh4d0U" class="song" title="Chợt như giấc mơ"> <span>15.</span>
              Chợt như giấc mơ</a>
            <a href="/User/User/2" class="singer">minh</a>
          </li>
          <li>
            <a href="/Play/Play/0B30Wl0EkX-0CMEhKZ25PeGRiTm8" class="song" title="Chỉ riêng mình ta"> <span>16.</span>
              Chỉ riêng mình ta</a>
            <a href="/User/User/4" class="singer">lam</a>
          </li>
          <li>
            <a href="/Play/Play/0B30Wl0EkX-0CRGRENVNoaEpCYkE" class="song" title="Lý cây bông - Rap version">
              <span>17.</span> Lý cây bông - Rap version</a>
            <a href="/User/User/4" class="singer">lam</a>
          </li>
          <li>
            <a href="/Play/Play/0B30Wl0EkX-0CVTllZ0hfWHg5RHM" class="song" title="I'm yours"> <span>18.</span> I'm yours</a>
            <a href="/User/User/4" class="singer">lam</a>
          </li>
          <li>
            <a href="/Play/Play/0B30Wl0EkX-0CUmxwdGcwSDRPUGc" class="song" title="Anh yêu đơn phương em đấy">
              <span>19.</span> Anh yêu đơn phương em đấy</a>
            <a href="/User/User/4" class="singer">lam</a>
          </li>
          <li>
            <a href="/Play/Play/0B30Wl0EkX-0CeEVneWVJSEp0ZUk" class="song" title="I do"> <span>20.</span> I do</a>
            <a href="/User/User/4" class="singer">lam</a>
          </li>
        </ul>
      </div>
    </div>
    <!-- right end -->
    <div class="clear"></div>
    <!-- top singer start -->
    <div class="top-singer">
      <div class="title">
        <p>Top User <a href="" class="more">Thêm&nbsp;&gt; </a></p>

      </div>
      <div class="body">
        <div class="best-user">

          <h3><span class="fa fa-trophy"></span>&nbsp;1st</h3>
          <a href="/User/User/4" class="avt"><img src="assets\user\ginny2\avt\avatar.png" alt="top"></a>
          <p class="info">
            <a href="/User/User/4">lam</a>

          </p>
        </div>
        <div class="list-top">

          <div class="item">
            <div class="picture">
              <a href="#"><img src="assets\user\ginny\avt\avatar.jpeg" alt=""></a>
            </div>
            <p class="name">
              <a href="#">tieuphung</a>
            </p>
            <div class="hover" style="display: none;">
              <div class="hover-tit">
                <a href="" class="head-pic">
                  <img src="assets\user\ginny\avt\avatar.jpeg" alt="ád">
                </a>
                <p class="singer-name">
                  <a href="">tieuphung</a>
                </p>
                <p>
                  Giới tính : Nam
                </p>
                <p class="age ell">
                  Ngày sinh: 20/10/1996
                </p>
                <p>
                  Nơi ở: Đồng Nai
                </p>
                <p>
                  Nghề nghiệp: Dev
                </p>
              </div>
              <div class="hover-ct">
                <p>Top songs</p>
                <ul>
                  <li>
                    <a href="">Hello world</a>
                    <a href="" class="playbtn"><span class="fa fa-headphones"></span></a>
                  </li>
                  <li>
                    <a href="">Hello world</a>
                    <a href="" class="playbtn"><span class="fa fa-headphones"></span></a>
                  </li>
                  <li>
                    <a href="">Hello world</a>
                    <a href="" class="playbtn"><span class="fa fa-headphones"></span></a>
                  </li>
                  <li>
                    <a href="">Hello world</a>
                    <a href="" class="playbtn"><span class="fa fa-headphones"></span></a>
                  </li>
                  <li>
                    <a href="">Hello world</a>
                    <a href="" class="playbtn"><span class="fa fa-headphones"></span></a>
                  </li>
                  <li>
                    <a href="">Hello world</a>
                    <a href="" class="playbtn"><span class="fa fa-headphones"></span></a>
                  </li>
                  <li>
                    <a href="">Hello world</a>
                    <a href="" class="playbtn"><span class="fa fa-headphones"></span></a>
                  </li>
                  <li>
                    <a href="">Hello world</a>
                    <a href="" class="playbtn"><span class="fa fa-headphones"></span></a>
                  </li>
                  <li>
                    <a href="">Hello world</a>
                    <a href="" class="playbtn"><span class="fa fa-headphones"></span></a>
                  </li>
                  <li>
                    <a href="">Hello world</a>
                    <a href="" class="playbtn"><span class="fa fa-headphones"></span></a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="picture">
              <a href="#"><img src="assets\user\ginny\avt\avatar.jpeg" alt=""></a>
            </div>
            <p class="name">
              <a href="#">tieuphung</a>
            </p>
            <div class="hover" style="display: none;">
              <div class="hover-tit">
                <a href="" class="head-pic">
                  <img src="assets\user\ginny\avt\avatar.jpeg" alt="ád">
                </a>
                <p class="singer-name">
                  <a href="">tieuphung</a>
                </p>
                <p>
                  Giới tính : Nam
                </p>
                <p class="age ell">
                  Ngày sinh: 20/10/1996
                </p>
                <p>
                  Nơi ở: Đồng Nai
                </p>
                <p>
                  Nghề nghiệp: Dev
                </p>
              </div>
              <div class="hover-ct">
                <p>Top songs</p>
                <ul>
                  <li>
                    <a href="">Hello world</a>
                    <a href="" class="playbtn"><span class="fa fa-headphones"></span></a>
                  </li>
                  <li>
                    <a href="">Hello world</a>
                    <a href="" class="playbtn"><span class="fa fa-headphones"></span></a>
                  </li>
                  <li>
                    <a href="">Hello world</a>
                    <a href="" class="playbtn"><span class="fa fa-headphones"></span></a>
                  </li>
                  <li>
                    <a href="">Hello world</a>
                    <a href="" class="playbtn"><span class="fa fa-headphones"></span></a>
                  </li>
                  <li>
                    <a href="">Hello world</a>
                    <a href="" class="playbtn"><span class="fa fa-headphones"></span></a>
                  </li>
                  <li>
                    <a href="">Hello world</a>
                    <a href="" class="playbtn"><span class="fa fa-headphones"></span></a>
                  </li>
                  <li>
                    <a href="">Hello world</a>
                    <a href="" class="playbtn"><span class="fa fa-headphones"></span></a>
                  </li>
                  <li>
                    <a href="">Hello world</a>
                    <a href="" class="playbtn"><span class="fa fa-headphones"></span></a>
                  </li>
                  <li>
                    <a href="">Hello world</a>
                    <a href="" class="playbtn"><span class="fa fa-headphones"></span></a>
                  </li>
                  <li>
                    <a href="">Hello world</a>
                    <a href="" class="playbtn"><span class="fa fa-headphones"></span></a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="picture">
              <a href="#"><img src="assets\user\ginny1\avt\avatar.png" alt=""></a>
            </div>
            <p class="name">
              <a href="#">minh</a>
            </p>
            <div class="hover" style="display: none;">
              <div class="hover-tit">
                <a href="" class="head-pic">
                  <img src="assets\user\ginny1\avt\avatar.png" alt="ád">
                </a>
                <p class="singer-name">
                  <a href="">minh</a>
                </p>
                <p>
                  Giới tính : Nam
                </p>
                <p class="age ell">
                  Ngày sinh: 20/10/1996
                </p>
                <p>
                  Nơi ở: Đồng Nai
                </p>
                <p>
                  Nghề nghiệp: Dev
                </p>
              </div>
              <div class="hover-ct">
                <p>Top songs</p>
                <ul>
                  <li>
                    <a href="">Hello world</a>
                    <a href="" class="playbtn"><span class="fa fa-headphones"></span></a>
                  </li>
                  <li>
                    <a href="">Hello world</a>
                    <a href="" class="playbtn"><span class="fa fa-headphones"></span></a>
                  </li>
                  <li>
                    <a href="">Hello world</a>
                    <a href="" class="playbtn"><span class="fa fa-headphones"></span></a>
                  </li>
                  <li>
                    <a href="">Hello world</a>
                    <a href="" class="playbtn"><span class="fa fa-headphones"></span></a>
                  </li>
                  <li>
                    <a href="">Hello world</a>
                    <a href="" class="playbtn"><span class="fa fa-headphones"></span></a>
                  </li>
                  <li>
                    <a href="">Hello world</a>
                    <a href="" class="playbtn"><span class="fa fa-headphones"></span></a>
                  </li>
                  <li>
                    <a href="">Hello world</a>
                    <a href="" class="playbtn"><span class="fa fa-headphones"></span></a>
                  </li>
                  <li>
                    <a href="">Hello world</a>
                    <a href="" class="playbtn"><span class="fa fa-headphones"></span></a>
                  </li>
                  <li>
                    <a href="">Hello world</a>
                    <a href="" class="playbtn"><span class="fa fa-headphones"></span></a>
                  </li>
                  <li>
                    <a href="">Hello world</a>
                    <a href="" class="playbtn"><span class="fa fa-headphones"></span></a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="picture">
              <a href="#"><img src="assets\user\ginny\avt\avatar.jpeg" alt=""></a>
            </div>
            <p class="name">
              <a href="#">tieuphung</a>
            </p>
            <div class="hover" style="display: none;">
              <div class="hover-tit">
                <a href="" class="head-pic">
                  <img src="assets\user\ginny\avt\avatar.jpeg" alt="ád">
                </a>
                <p class="singer-name">
                  <a href="">tieuphung</a>
                </p>
                <p>
                  Giới tính : Nam
                </p>
                <p class="age ell">
                  Ngày sinh: 20/10/1996
                </p>
                <p>
                  Nơi ở: Đồng Nai
                </p>
                <p>
                  Nghề nghiệp: Dev
                </p>
              </div>
              <div class="hover-ct">
                <p>Top songs</p>
                <ul>
                  <li>
                    <a href="">Hello world</a>
                    <a href="" class="playbtn"><span class="fa fa-headphones"></span></a>
                  </li>
                  <li>
                    <a href="">Hello world</a>
                    <a href="" class="playbtn"><span class="fa fa-headphones"></span></a>
                  </li>
                  <li>
                    <a href="">Hello world</a>
                    <a href="" class="playbtn"><span class="fa fa-headphones"></span></a>
                  </li>
                  <li>
                    <a href="">Hello world</a>
                    <a href="" class="playbtn"><span class="fa fa-headphones"></span></a>
                  </li>
                  <li>
                    <a href="">Hello world</a>
                    <a href="" class="playbtn"><span class="fa fa-headphones"></span></a>
                  </li>
                  <li>
                    <a href="">Hello world</a>
                    <a href="" class="playbtn"><span class="fa fa-headphones"></span></a>
                  </li>
                  <li>
                    <a href="">Hello world</a>
                    <a href="" class="playbtn"><span class="fa fa-headphones"></span></a>
                  </li>
                  <li>
                    <a href="">Hello world</a>
                    <a href="" class="playbtn"><span class="fa fa-headphones"></span></a>
                  </li>
                  <li>
                    <a href="">Hello world</a>
                    <a href="" class="playbtn"><span class="fa fa-headphones"></span></a>
                  </li>
                  <li>
                    <a href="">Hello world</a>
                    <a href="" class="playbtn"><span class="fa fa-headphones"></span></a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="picture">
              <a href="#"><img src="assets\user\ginny\avt\avatar.jpeg" alt=""></a>
            </div>
            <p class="name">
              <a href="#">tieuphung</a>
            </p>
            <div class="hover" style="display: none;">
              <div class="hover-tit">
                <a href="" class="head-pic">
                  <img src="assets\user\ginny\avt\avatar.jpeg" alt="ád">
                </a>
                <p class="singer-name">
                  <a href="">tieuphung</a>
                </p>
                <p>
                  Giới tính : Nam
                </p>
                <p class="age ell">
                  Ngày sinh: 20/10/1996
                </p>
                <p>
                  Nơi ở: Đồng Nai
                </p>
                <p>
                  Nghề nghiệp: Dev
                </p>
              </div>
              <div class="hover-ct">
                <p>Top songs</p>
                <ul>
                  <li>
                    <a href="">Hello world</a>
                    <a href="" class="playbtn"><span class="fa fa-headphones"></span></a>
                  </li>
                  <li>
                    <a href="">Hello world</a>
                    <a href="" class="playbtn"><span class="fa fa-headphones"></span></a>
                  </li>
                  <li>
                    <a href="">Hello world</a>
                    <a href="" class="playbtn"><span class="fa fa-headphones"></span></a>
                  </li>
                  <li>
                    <a href="">Hello world</a>
                    <a href="" class="playbtn"><span class="fa fa-headphones"></span></a>
                  </li>
                  <li>
                    <a href="">Hello world</a>
                    <a href="" class="playbtn"><span class="fa fa-headphones"></span></a>
                  </li>
                  <li>
                    <a href="">Hello world</a>
                    <a href="" class="playbtn"><span class="fa fa-headphones"></span></a>
                  </li>
                  <li>
                    <a href="">Hello world</a>
                    <a href="" class="playbtn"><span class="fa fa-headphones"></span></a>
                  </li>
                  <li>
                    <a href="">Hello world</a>
                    <a href="" class="playbtn"><span class="fa fa-headphones"></span></a>
                  </li>
                  <li>
                    <a href="">Hello world</a>
                    <a href="" class="playbtn"><span class="fa fa-headphones"></span></a>
                  </li>
                  <li>
                    <a href="">Hello world</a>
                    <a href="" class="playbtn"><span class="fa fa-headphones"></span></a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="picture">
              <a href="#"><img src="assets\user\ginny\avt\avatar.jpeg" alt=""></a>
            </div>
            <p class="name">
              <a href="#">tieuphung</a>
            </p>
            <div class="hover" style="display: none;">
              <div class="hover-tit">
                <a href="" class="head-pic">
                  <img src="assets\user\ginny\avt\avatar.jpeg" alt="ád">
                </a>
                <p class="singer-name">
                  <a href="">tieuphung</a>
                </p>
                <p>
                  Giới tính : Nam
                </p>
                <p class="age ell">
                  Ngày sinh: 20/10/1996
                </p>
                <p>
                  Nơi ở: Đồng Nai
                </p>
                <p>
                  Nghề nghiệp: Dev
                </p>
              </div>
              <div class="hover-ct">
                <p>Top songs</p>
                <ul>
                  <li>
                    <a href="">Hello world</a>
                    <a href="" class="playbtn"><span class="fa fa-headphones"></span></a>
                  </li>
                  <li>
                    <a href="">Hello world</a>
                    <a href="" class="playbtn"><span class="fa fa-headphones"></span></a>
                  </li>
                  <li>
                    <a href="">Hello world</a>
                    <a href="" class="playbtn"><span class="fa fa-headphones"></span></a>
                  </li>
                  <li>
                    <a href="">Hello world</a>
                    <a href="" class="playbtn"><span class="fa fa-headphones"></span></a>
                  </li>
                  <li>
                    <a href="">Hello world</a>
                    <a href="" class="playbtn"><span class="fa fa-headphones"></span></a>
                  </li>
                  <li>
                    <a href="">Hello world</a>
                    <a href="" class="playbtn"><span class="fa fa-headphones"></span></a>
                  </li>
                  <li>
                    <a href="">Hello world</a>
                    <a href="" class="playbtn"><span class="fa fa-headphones"></span></a>
                  </li>
                  <li>
                    <a href="">Hello world</a>
                    <a href="" class="playbtn"><span class="fa fa-headphones"></span></a>
                  </li>
                  <li>
                    <a href="">Hello world</a>
                    <a href="" class="playbtn"><span class="fa fa-headphones"></span></a>
                  </li>
                  <li>
                    <a href="">Hello world</a>
                    <a href="" class="playbtn"><span class="fa fa-headphones"></span></a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="picture">
              <a href="#"><img src="assets\user\ginny1\avt\avatar.png" alt=""></a>
            </div>
            <p class="name">
              <a href="#">minh</a>
            </p>
            <div class="hover" style="display: none;">
              <div class="hover-tit">
                <a href="" class="head-pic">
                  <img src="assets\user\ginny1\avt\avatar.png" alt="ád">
                </a>
                <p class="singer-name">
                  <a href="">minh</a>
                </p>
                <p>
                  Giới tính : Nam
                </p>
                <p class="age ell">
                  Ngày sinh: 20/10/1996
                </p>
                <p>
                  Nơi ở: Đồng Nai
                </p>
                <p>
                  Nghề nghiệp: Dev
                </p>
              </div>
              <div class="hover-ct">
                <p>Top songs</p>
                <ul>
                  <li>
                    <a href="">Hello world</a>
                    <a href="" class="playbtn"><span class="fa fa-headphones"></span></a>
                  </li>
                  <li>
                    <a href="">Hello world</a>
                    <a href="" class="playbtn"><span class="fa fa-headphones"></span></a>
                  </li>
                  <li>
                    <a href="">Hello world</a>
                    <a href="" class="playbtn"><span class="fa fa-headphones"></span></a>
                  </li>
                  <li>
                    <a href="">Hello world</a>
                    <a href="" class="playbtn"><span class="fa fa-headphones"></span></a>
                  </li>
                  <li>
                    <a href="">Hello world</a>
                    <a href="" class="playbtn"><span class="fa fa-headphones"></span></a>
                  </li>
                  <li>
                    <a href="">Hello world</a>
                    <a href="" class="playbtn"><span class="fa fa-headphones"></span></a>
                  </li>
                  <li>
                    <a href="">Hello world</a>
                    <a href="" class="playbtn"><span class="fa fa-headphones"></span></a>
                  </li>
                  <li>
                    <a href="">Hello world</a>
                    <a href="" class="playbtn"><span class="fa fa-headphones"></span></a>
                  </li>
                  <li>
                    <a href="">Hello world</a>
                    <a href="" class="playbtn"><span class="fa fa-headphones"></span></a>
                  </li>
                  <li>
                    <a href="">Hello world</a>
                    <a href="" class="playbtn"><span class="fa fa-headphones"></span></a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="picture">
              <a href="#"><img src="assets\user\ginny\avt\avatar.jpeg" alt=""></a>
            </div>
            <p class="name">
              <a href="#">tieuphung</a>
            </p>
            <div class="hover" style="display: none;">
              <div class="hover-tit">
                <a href="" class="head-pic">
                  <img src="assets\user\ginny\avt\avatar.jpeg" alt="ád">
                </a>
                <p class="singer-name">
                  <a href="">tieuphung</a>
                </p>
                <p>
                  Giới tính : Nam
                </p>
                <p class="age ell">
                  Ngày sinh: 20/10/1996
                </p>
                <p>
                  Nơi ở: Đồng Nai
                </p>
                <p>
                  Nghề nghiệp: Dev
                </p>
              </div>
              <div class="hover-ct">
                <p>Top songs</p>
                <ul>
                  <li>
                    <a href="">Hello world</a>
                    <a href="" class="playbtn"><span class="fa fa-headphones"></span></a>
                  </li>
                  <li>
                    <a href="">Hello world</a>
                    <a href="" class="playbtn"><span class="fa fa-headphones"></span></a>
                  </li>
                  <li>
                    <a href="">Hello world</a>
                    <a href="" class="playbtn"><span class="fa fa-headphones"></span></a>
                  </li>
                  <li>
                    <a href="">Hello world</a>
                    <a href="" class="playbtn"><span class="fa fa-headphones"></span></a>
                  </li>
                  <li>
                    <a href="">Hello world</a>
                    <a href="" class="playbtn"><span class="fa fa-headphones"></span></a>
                  </li>
                  <li>
                    <a href="">Hello world</a>
                    <a href="" class="playbtn"><span class="fa fa-headphones"></span></a>
                  </li>
                  <li>
                    <a href="">Hello world</a>
                    <a href="" class="playbtn"><span class="fa fa-headphones"></span></a>
                  </li>
                  <li>
                    <a href="">Hello world</a>
                    <a href="" class="playbtn"><span class="fa fa-headphones"></span></a>
                  </li>
                  <li>
                    <a href="">Hello world</a>
                    <a href="" class="playbtn"><span class="fa fa-headphones"></span></a>
                  </li>
                  <li>
                    <a href="">Hello world</a>
                    <a href="" class="playbtn"><span class="fa fa-headphones"></span></a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="picture">
              <a href="#"><img src="assets\user\ginny1\avt\avatar.png" alt=""></a>
            </div>
            <p class="name">
              <a href="#">minh</a>
            </p>
            <div class="hover" style="display: none;">
              <div class="hover-tit">
                <a href="" class="head-pic">
                  <img src="assets\user\ginny1\avt\avatar.png" alt="ád">
                </a>
                <p class="singer-name">
                  <a href="">minh</a>
                </p>
                <p>
                  Giới tính : Nam
                </p>
                <p class="age ell">
                  Ngày sinh: 20/10/1996
                </p>
                <p>
                  Nơi ở: Đồng Nai
                </p>
                <p>
                  Nghề nghiệp: Dev
                </p>
              </div>
              <div class="hover-ct">
                <p>Top songs</p>
                <ul>
                  <li>
                    <a href="">Hello world</a>
                    <a href="" class="playbtn"><span class="fa fa-headphones"></span></a>
                  </li>
                  <li>
                    <a href="">Hello world</a>
                    <a href="" class="playbtn"><span class="fa fa-headphones"></span></a>
                  </li>
                  <li>
                    <a href="">Hello world</a>
                    <a href="" class="playbtn"><span class="fa fa-headphones"></span></a>
                  </li>
                  <li>
                    <a href="">Hello world</a>
                    <a href="" class="playbtn"><span class="fa fa-headphones"></span></a>
                  </li>
                  <li>
                    <a href="">Hello world</a>
                    <a href="" class="playbtn"><span class="fa fa-headphones"></span></a>
                  </li>
                  <li>
                    <a href="">Hello world</a>
                    <a href="" class="playbtn"><span class="fa fa-headphones"></span></a>
                  </li>
                  <li>
                    <a href="">Hello world</a>
                    <a href="" class="playbtn"><span class="fa fa-headphones"></span></a>
                  </li>
                  <li>
                    <a href="">Hello world</a>
                    <a href="" class="playbtn"><span class="fa fa-headphones"></span></a>
                  </li>
                  <li>
                    <a href="">Hello world</a>
                    <a href="" class="playbtn"><span class="fa fa-headphones"></span></a>
                  </li>
                  <li>
                    <a href="">Hello world</a>
                    <a href="" class="playbtn"><span class="fa fa-headphones"></span></a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="picture">
              <a href="#"><img src="assets\user\ginny\avt\avatar.jpeg" alt=""></a>
            </div>
            <p class="name">
              <a href="#">tieuphung</a>
            </p>
            <div class="hover" style="display: none;">
              <div class="hover-tit">
                <a href="" class="head-pic">
                  <img src="assets\user\ginny\avt\avatar.jpeg" alt="ád">
                </a>
                <p class="singer-name">
                  <a href="">tieuphung</a>
                </p>
                <p>
                  Giới tính : Nam
                </p>
                <p class="age ell">
                  Ngày sinh: 20/10/1996
                </p>
                <p>
                  Nơi ở: Đồng Nai
                </p>
                <p>
                  Nghề nghiệp: Dev
                </p>
              </div>
              <div class="hover-ct">
                <p>Top songs</p>
                <ul>
                  <li>
                    <a href="">Hello world</a>
                    <a href="" class="playbtn"><span class="fa fa-headphones"></span></a>
                  </li>
                  <li>
                    <a href="">Hello world</a>
                    <a href="" class="playbtn"><span class="fa fa-headphones"></span></a>
                  </li>
                  <li>
                    <a href="">Hello world</a>
                    <a href="" class="playbtn"><span class="fa fa-headphones"></span></a>
                  </li>
                  <li>
                    <a href="">Hello world</a>
                    <a href="" class="playbtn"><span class="fa fa-headphones"></span></a>
                  </li>
                  <li>
                    <a href="">Hello world</a>
                    <a href="" class="playbtn"><span class="fa fa-headphones"></span></a>
                  </li>
                  <li>
                    <a href="">Hello world</a>
                    <a href="" class="playbtn"><span class="fa fa-headphones"></span></a>
                  </li>
                  <li>
                    <a href="">Hello world</a>
                    <a href="" class="playbtn"><span class="fa fa-headphones"></span></a>
                  </li>
                  <li>
                    <a href="">Hello world</a>
                    <a href="" class="playbtn"><span class="fa fa-headphones"></span></a>
                  </li>
                  <li>
                    <a href="">Hello world</a>
                    <a href="" class="playbtn"><span class="fa fa-headphones"></span></a>
                  </li>
                  <li>
                    <a href="">Hello world</a>
                    <a href="" class="playbtn"><span class="fa fa-headphones"></span></a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <script>
          $(function () {
            $('.list-top .item').hover(function () {
                $(this).find('.hover').show();
              },
              function () {
                $(this).find('.hover').hide();
              });
          });
        </script>
      </div>
    </div>
    <!-- top singer end -->
  </div>
</div>
