.title {
  height: 40px;
  line-height: 40px;
  overflow: hidden;
  font-size: 16px;
  color: #333;

  .control {
    float: right;
    height: 40px;
    line-height: 40px;
    overflow: hidden;
    font-size: 12px;

    a {
      float: right;
      padding-left: 10px;
      font-size: 14px;

      span {
        color: #45B39D;
      }
    }
  }
}

.list-item {
  height: 363px;
  overflow: hidden;

  .item {
    text-align: left;

    .normal {
      height: 36px;
      line-height: 36px;
      overflow: hidden;

      .song-name {
        float: left;
        width: 210px;
        color: #333;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
      }

      .singer {
        float: right;
        width: 80px;
        color: #999;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
      }
    }

    .hover {
      overflow: hidden;

      .hover1 {
        width: 30%;
        height: 100px;
        float: left;
        margin-right: 8px;
        padding: 1px 2px;
        border: 1px solid #45B39D;
        border-radius: 5px;
        box-sizing: border-box;

        img {
          width: 100%;
          height: 100%;
        }

        .theloai {
          width: 86px;
          height: 20px;
          line-height: 20px;
          text-align: center;
          color: #666;
        }
      }

      .hover2 {
        width: 64%;
        float: left;
        box-sizing: border-box;

        p {
          width: 100%;
          height: 24px;
          line-height: 24px;
          color: #999;
        }

        .info {
          height: 60px;
          line-height: 20px;
          overflow: hidden;
        }

        .singer {
          text-overflow: ellipsis;
          white-space: nowrap;
          overflow: hidden;
          width: 100%;
          display: block;
        }

        .song-name {
          display: block;
          width: 170px;
          text-overflow: ellipsis;
          white-space: nowrap;
          overflow: hidden;
          font-size: 14px;
          float: left;
        }
      }
    }
  }
}

.playlist {
  float: right;
  width: 20px;
  height: 17px;
  margin-top: 4px;

  .fa-headphones {
    color: #45B39D;
  }
}
