<div class="header-wrap">
  <div class="header">
    <h4>SEARCH &nbsp;</h4>
    <div class="search-box">
      <div class="search">
        <input type="text" name="search">
      </div>
    </div>
    <div class="top-nav">
      <ul>
        <li><a href="">Đăng nhập</a></li>
        <li><a (click)="showRegisterDialog()">Đăng ký</a></li>
      </ul>
    </div>
  </div>
</div>
<div class="nav-wrap">
  <div class="nav">
    <ul>
      <li><a class="link" href="/">Trang chủ</a></li>
      <li><a class="link" href="/Home/Origin">Nguyên tác</a></li>
      <li><a class="link" href="/Home/Cover">Cover</a></li>
      <li><a class="link" href="/Home/Instrutment">Nhạc cụ</a></li>
      <li><a href="friend.html" title="Hoạt động bạn bè" class="link">Nghệ sĩ</a></li>
      <li><a href="friend.html" title="Hoạt động bạn bè" class="link">Bạn bè</a></li>
    </ul>
  </div>
</div>
