<div class="content">
  <div class="ct-left">
    <div class="view">
      <div class="view-title">
        <h1>Khi người mình yêu khóc</h1>
      </div>
      <div class="view-box">
        <div class="view-info flx">
          <ul class="left mb15">
            <li class="view-row">
              <em>Ca sĩ gốc:&nbsp;</em>
              <span>Phan Mạnh Quỳnh</span>
            </li>
            <li>
              <em>Loại:&nbsp;</em>
              <span>Cover</span>
            </li>
            <li><em>Thể hiện:&nbsp;</em><span><a class="singer" href="/User/User/5">tieuphung</a></span></li>
            <li class="view-row">
              <em>Thể loại:&nbsp;</em>
              <span>
                                    <span>Nhạc cụ &nbsp; </span>
                            </span>


            </li>
            <li><em>Ngôn ngữ:&nbsp;</em><span>Việt Nam  </span></li>
            <li class="view-row"><em>Ngày tải:&nbsp;</em><span>6/7/2017 9:40:48 PM</span></li>
          </ul>
        </div>
        <div class="view-action flx">
          <div class="view-action-left left">
            <ul>
              <li><a href="/Play/Download/0B30Wl0EkX-0CNzlXTzM2Zk9BS2M"><span class="fa fa-download">&nbsp;</span>Tải về</a></li>
              <li><a href="javascript: void(0);" data-layout="button" onclick="window.open('https://www.facebook.com/sharer.php?u=http://hpmusic.azurewebsites.net/Play/Play/0B30Wl0EkX-0CNzlXTzM2Zk9BS2M&amp;summary=HPmusic&amp;title=Khi người mình yêu khóc&amp;description=https://drive.google.com/uc?id=0B30Wl0EkX-0CNzlXTz&amp;picture=http://imageshack.com/a/img922/6163/GLTMPm.png','ventanacompartir', 'toolbar=0, status=0, width=650, height=450, top=80, left=300');"><span class="fa fa-facebook-square">&nbsp;</span>Chia sẻ</a></li>

              <!--
                <li><a href="" target="_blank"><span class="fa fa-flag">&nbsp;</span>Phản hồi</a></li>
                  -->
            </ul>
          </div>
          <div class="view-action-right right">
            <ul>
              <!--
              <li><a href="#"><span class="fa fa-heart">&nbsp;</span>1358</a></li>
                  -->
              <li> <a href="javascript:void(0)"><span class="fa fa-cloud-download">&nbsp;</span>1440</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <!-- phan lyric start -->
    <div class="lyric-box">
      <div class="lyric-title">
        <span class="lyric-bar"></span>
        <ul>
          <li><h2><a class="tab-link current" data-tab="tab-1">Mô tả</a></h2></li>
          <li><h2><a class="tab-link" data-tab="tab-2">Lời bài hát</a></h2></li>
        </ul>
      </div>
      <div class="lyric-tabcontent">
        <div class="descript tab-content current" id="tab-1">
          <pre>  Chưa có mô tả nào cho bài hát này</pre>
        </div>
        <div class="lyric tab-content" id="tab-2">
          <pre> Bài hát này chưa có lời</pre>
        </div>
      </div>
    </div>
    <!-- phan lyric end -->
    <!-- phan commnet start -->
    <div class="comment-box">
      <div class="cmt-title">
        <h2>Bình luận</h2>
      </div>
      <div class="cmt-box">
        <!-- chen comment plugin jquery -->
      </div>
    </div>
    <!-- phan commnet end -->
  </div>
  <div class="ct-right">
    <div class="user-info-box">
      <div class="user-avt">
        <a href="/User/User/5"><img src="assets\user\ginny\avt\avatar.jpeg" alt=""></a>
      </div>
      <h3 class="user-name">
        <a href="/User/User/5">tieuphung</a>
      </h3>
    </div>
<!--    <script>-->
<!--      $(function () {-->
<!--        //follow, unfollow-->
<!--        $("#follow").click(function () {-->
<!--          $.ajax({-->
<!--            url: '/User/Follow',-->
<!--            dataType: "json",-->
<!--            type: "GET",-->
<!--            contentType: 'application/json; charset=utf-8',-->
<!--            data: {userid: 5},-->
<!--            success: function (data) {-->
<!--              if (data == "nologin") {-->
<!--                $(".alert-login").show();-->
<!--                setTimeout(hideAlert,2000);-->
<!--              } else if(data == "Following") {-->
<!--                $("#follow").text("Theo dõi");-->
<!--              }else{-->
<!--                $("#follow").text("Đang theo dõi");-->
<!--              }-->
<!--            },-->
<!--            error: function (xhr) {-->
<!--              alert('error');-->
<!--            }-->
<!--          });-->

<!--          function hideAlert(){-->
<!--            $(".alert-login").hide();-->
<!--          }-->
<!--        });-->
<!--      });-->
<!--    </script>-->

<!--    &lt;!&ndash; user info end &ndash;&gt;-->
<!--    &lt;!&ndash; player control start &ndash;&gt;-->
<!--    <div class="player-control">-->
<!--      <div class="top-play">-->

<!--        <audio id="songAudio">-->
<!--          <source src="https://drive.google.com/uc?id=0B30Wl0EkX-0CNzlXTzM2Zk9BS2M&amp;export=download&amp;resourcekey=0-nU5jNnRjHvc-tQAaEGskXQ" type="audio/mpeg">-->
<!--          Trình duyệt của bạn không hỗ trợ audio-->
<!--        </audio>-->
<!--        <button class="play-btn" id="play-btn" style=""></button>-->
<!--        <button class="pause-btn" style="display: none;"></button>-->
<!--        <h5 class="song-title">Khi người mình yêu khóc</h5>-->
<!--      </div>-->

<!--      <div class="middle">-->
<!--        <div class="play-progressbar">-->
<!--          <div class="played-progressbar" style="width: 1.09749%;"></div>-->
<!--          <div class="played-progressbar-buffered" style="width: 100%"></div>-->
<!--          <div class="played-progressbar-drag" style="left: 1.09749%;"></div>-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="time-play">-->
<!--        <span class="left time-left">0:02</span>-->
<!--        <span class="right time-right">3:20</span>-->
<!--      </div>-->
<!--      <div class="bottom clearfix">-->
<!--        <button class="single-mode">-->
<!--          <span class="single-mode-icon"></span>-->
<!--          Chơi 1 bài-->
<!--        </button>-->
<!--        <button class="playlist-mode">-->
<!--          <span class="playlist-mode-icon"></span>-->
<!--          Playlist-->
<!--        </button>-->

<!--        <div class="volumn-bar">-->
<!--          <span class="volumn-icon fa fa-volume-up"></span>-->
<!--          <span class="volumn-icon fa fa-volume-off"></span>-->
<!--          <div class="volumn-total">-->
<!--            <div class="volumn-loading" style="width: 40px"></div>-->
<!--            <div class="volumn-current" style="left: 40px"></div>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->

<!--    <script>-->
<!--      $(function () {-->
<!--        $('.tab-link').click(function () {-->
<!--          var tab_id = $(this).attr('data-tab');-->

<!--          $('.tab-link').removeClass('current');-->
<!--          $('.tab-content').removeClass('current');-->

<!--          $(this).addClass('current');-->
<!--          $("#" + tab_id).addClass('current');-->
<!--        });-->
<!--        //play audio-->
<!--        var myaudio = document.getElementById("songAudio");-->
<!--        //click play button-->
<!--        $(".play-btn").click(function () {-->
<!--          $(this).hide();-->
<!--          myaudio.play();-->
<!--          $('.pause-btn').show();-->
<!--        });-->
<!--        //click pause button-->
<!--        $(".pause-btn").click(function () {-->
<!--          myaudio.pause();-->
<!--          $(this).hide();-->
<!--          $('.play-btn').show();-->
<!--        });-->
<!--        //auto click play when load page-->
<!--        $("#play-btn").click();-->
<!--        //load data and display time-->
<!--        myaudio.onloadedmetadata = function () {-->
<!--          var durationSec = parseInt(myaudio.duration);-->
<!--          var durationMin = Math.floor(durationSec / 60, 10);-->
<!--          var secs = Math.floor(durationSec % 60, 20);-->
<!--          if (secs < 10) {-->
<!--            secs = '0' + secs;-->
<!--          }-->
<!--          $(".time-right").text(durationMin +':'+secs);-->
<!--        };;-->
<!--        //create time track bar-->
<!--        myaudio.addEventListener('progress', function () {-->

<!--        });-->
<!--        //end song-->
<!--        myaudio.addEventListener('ended', function () {-->
<!--          console.log("end song");-->
<!--          console.log('0B30Wl0EkX-0CR0h5cEJVcTc0NEk');-->
<!--          document.location = '/Play/Play/0B30Wl0EkX-0CR0h5cEJVcTc0NEk';-->
<!--        });-->
<!--        //time playing-->
<!--        myaudio.addEventListener('timeupdate', function () {-->
<!--          //thoi gian choi dc-->
<!--          var time = myaudio.currentTime;-->
<!--          var minCur = Math.floor(time / 60, 10);-->
<!--          var secCur = Math.floor(time % 60, 20);-->
<!--          if (secCur < 10) {-->
<!--            secCur = '0' + secCur;-->
<!--          }-->
<!--          $(".time-left").text(minCur + ':' + secCur);-->
<!--          //time track-->
<!--          var seekbar = (myaudio.currentTime / myaudio.duration) * 100 + '%';-->
<!--          $('.played-progressbar').css({ width: seekbar });-->
<!--          $(".played-progressbar-drag").css({left: seekbar});-->
<!--        });-->

<!--        //toggle loop button-->
<!--        $(".single-mode").click(function () {-->
<!--          $(this).hide();-->
<!--          $(".playlist-mode").show();-->
<!--          myaudio.loop = false;-->
<!--        });-->
<!--        $(".playlist-mode").click(function () {-->
<!--          $(this).hide();-->
<!--          $(".single-mode").show();-->
<!--          myaudio.loop = true;-->
<!--        });-->
<!--        var volumeDrag = false;-->
<!--        $('.volumn-total').mousedown(function (event) {-->
<!--          volumeDrag = true;-->
<!--          myaudio.muted = false;-->
<!--          updateVolume(event.pageX);-->
<!--        });-->
<!--        $(document).on('mouseup', function (e) {-->
<!--          if (volumeDrag) {-->
<!--            volumeDrag = false;-->
<!--            updateVolume(e.pageX);-->
<!--          }-->
<!--        });-->
<!--        $(document).on('mousemove', function (e) {-->
<!--          if (volumeDrag) {-->
<!--            updateVolume(e.pageX);-->
<!--          }-->
<!--        });-->
<!--        //volumn-->
<!--        var updateVolume = function (x) {-->
<!--          var volume = $('.volumn-total');-->

<!--          var position = x - volume.offset().left;-->
<!--          percentage = 100 * position / volume.width();-->
<!--          if (percentage > 100) {-->
<!--            percentage = 100;-->
<!--          }-->
<!--          if (percentage < 0) {-->
<!--            percentage = 0;-->
<!--          }-->
<!--          //update volume bar and video volume-->
<!--          $('.volumn-loading').css('width', percentage + '%');-->
<!--          $('.volumn-current').css('left', percentage + '%');-->
<!--          myaudio.volume = percentage / 100;-->
<!--        };-->
<!--        //muted-->

<!--        $(".fa-volume-up").click(function () {-->
<!--          $(this).hide();-->
<!--          $('.fa-volume-off').show();-->
<!--          myaudio.muted = true;-->

<!--        });-->
<!--        //click pause button-->
<!--        $(".fa-volume-off").click(function () {-->
<!--          $(this).hide();-->
<!--          $('.fa-volume-up').show();-->
<!--          myaudio.muted = false;-->
<!--        });-->

<!--        //time track control-->
<!--        var timeDrag = false;-->
<!--        $('.play-progressbar').mousedown(function (event) {-->
<!--          timeDrag = true;-->
<!--          moveplayhead(event);-->

<!--        });-->
<!--        $(document).on('mouseup', function (e) {-->
<!--          if (timeDrag) {-->
<!--            timeDrag = false;-->
<!--            moveplayhead(event);-->
<!--          }-->
<!--        });-->
<!--        $(document).on('mousemove', function (e) {-->
<!--          if (timeDrag) {-->
<!--            moveplayhead(event);-->
<!--          }-->
<!--        });-->
<!--        function clickPercent(event) {-->
<!--          var timeline = $('.play-progressbar');-->
<!--          return (event.clientX - getPosition(timeline)) / timeline.width();-->
<!--        }-->
<!--        function moveplayhead(event) {-->
<!--          var timeline = $('.play-progressbar');-->
<!--          var newMargLeft = event.clientX - getPosition(timeline);-->
<!--          $('.played-progressbar').css({ width: newMargLeft });-->
<!--          $(".played-progressbar-drag").css({ left: newMargLeft });-->
<!--          myaudio.currentTime = myaudio.duration * clickPercent(event);-->
<!--        }-->
<!--        function getPosition(el) {-->
<!--          return el.offset().left;-->
<!--        }-->
<!--      });-->
<!--    </script>-->

<!--    &lt;!&ndash; player control end &ndash;&gt;-->
<!--    &lt;!&ndash; list-song start &ndash;&gt;-->
<!--    <div class="list-song">-->
<!--      <ul>-->

<!--        <li><a href="/Play/Play/0B30Wl0EkX-0CR0h5cEJVcTc0NEk">Pressure</a></li>-->
<!--        <li><a href="/Play/Play/0B30Wl0EkX-0CeGtMNGtQWmdrOXM">Ánh trăng bên hồ sen</a></li>-->
<!--        <li><a href="/Play/Play/0B30Wl0EkX-0CVmlJRFYzazlnOW8">Trong gió có đám mây mưa</a></li>-->
<!--        <li><a href="/Play/Play/0B30Wl0EkX-0CNEpGM1lnUW5iZ2c">Love is</a></li>-->
<!--        <li><a href="/Play/Play/0B30Wl0EkX-0CR3FEcEcxZ1hYVGc">Speak now</a></li>-->
<!--        <li><a href="/Play/Play/0B30Wl0EkX-0CQV9DRThQbDhqX00">A little love</a></li>-->
<!--        <li><a href="/Play/Play/0B30Wl0EkX-0CVHF1akMzTEViT28">Take me to your heart</a></li>-->
<!--        <li><a href="/Play/Play/0B30Wl0EkX-0CYjJJVnBLRlNDTWM">Năm Tháng Vội Vã</a></li>-->
<!--        <li><a href="/Play/Play/0B30Wl0EkX-0CZzNRQTFKSmlNTnM">Yêu em từ cái nhìn đầu tiên</a></li>-->
<!--        <li><a class="currentPlaySong" href="/Play/Play/0B30Wl0EkX-0CNzlXTzM2Zk9BS2M">Khi người mình yêu khóc</a></li>-->
<!--      </ul>-->
<!--    </div>-->
<!--    &lt;!&ndash; list-song end &ndash;&gt;-->
<!--  </div>-->
</div>
