<div class="footer-wrap">
  <ul>
    <li><a href="">Giới thiệu</a></li>
    <li><a href="">Điểu khoản</a></li>
    <li><a href="">Hỗ trợ</a></li>
    <li><a href="">Liên lạc</a></li>
  </ul>
  <div class="social">
    <ul class="A">
      &nbsp;
      <li><a href="#"><span class="fa fa-facebook-square"></span></a></li>
      <li><a href="#"><span class="fa fa-google-plus-square"></span></a></li>
      <li><a href="#"><span class="fa fa-pinterest-square"></span></a></li>
      <li><a href="#"><span class="fa fa-twitter"></span></a></li>
    </ul>
    <div class="B">© 2017, HPmusic</div>
    <div class="C">&nbsp;</div>
  </div>
</div>
