<div class="banner-wrap">
  <ng-image-slider #nav
                   [images]="imageObject"
                   [infinite]="true"
                   [imagePopup]="true"
                   [autoSlide]="1"
                   [slideImage]="1"
                   [animationSpeed]="5"
                   [manageImageRatio]="false"
                   [videoAutoPlay]="true"
                   [showVideoControls]="true"
                   [paginationShow]="false"
                   [imageSize]="{width: 1440, height: 280, space: 0}">
  </ng-image-slider>
<!--  <div class="container">-->
<!--    <div class="row text-center" style="display: block;">-->
<!--      <img class="wow fadeInDown" data-wow-delay="0.5s" src="https://wowjs.uk/img/wow-logo.jpg">-->
<!--    </div>-->
<!--  </div>-->
</div>
